body{
    text-align: center;
}
.logocorendon{
    width:40%;
}

input[type=submit] {
    background-color: #f44336;
    color: white;
    width: 42%;
    font-size: 25px;
    text-decoration: none;
}

input[type=submit]:hover {
    background-color: red}

input {
    font-size: 25px;
    width: 40%;
    padding: 1% 1%;
    border-style: groove;
    text-align: center;
}
.imagedisplay{
    width: 40%;
}